.attivitaTable__valutazione-1 {
  color: #00ff00;
}
.attivitaTable__valutazione-2 {
  color: #ffff00;
}
.attivitaTable__valutazione-3 {
  color: #ff0000;
}
.attivitaTable__valutazione-4 {
  color: #0000ff;
}

/*# sourceMappingURL=AttivitaTable.css.map */
