$colori-valutazioni:
        '1' #00ff00,
        '2' #ffff00,
        '3' #ff0000,
        '4' #0000ff;


.attivitaTable {
  @each $i in $colori-valutazioni {
    &__valutazione-#{nth($i, 1)} {
      color: nth($i, 2);
    }
  }
}
